body{
    /*background-image: url("iut.jpg");*/
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ffffff;
    font-family:'Tangerine', sans-serif;
    background-color: #8c8c8c;
    text-align: center;
    
}



h1{
    
    background-color: #33ff33;
    background-repeat: no-repeat;
    background-size: 100% 95% ;
    margin-left: -7px;
	width: 100%;
	padding: 2.5%;
    margin-top:55px;
	text-align: center;
    font-family: 'pacifico', cursive;
    
}

.C{
    width: 110px ;
	border: thin solid pink;
	margin: auto;
    margin-left: 75%;
    margin-top:30px; 
    
}

.mbr{
    border: 1px solid black;
    background-color:azure;
    text-shadow: 2px 2px 12px #9999ff;
    
    
    
}

.texte{
    box-shadow: 12px 10px 15px;
}
.prs{
    width: 85%;
    border: 3px solid black;
    display: inline-block;
    
}
.sabrina{
    margin-right: 60%;    
}

.dragon{
     margin-left: 60%;
}
.laurent{
    margin-right: 60%;    
}

.jean{
     margin-left: 60%;
}
.quentin{
    margin-right: 60%;    
}

.alex{
     margin-left: 60%;
}

/*-----------Barre de navigation ------------*/
nav{
    color: #6666ff;
    width: 100%;
    top: 0%;
    margin-right: 10px;
    position: fixed;
    text-align: center;
    align-content: right;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #33ff33;
   
}
nav li{
    background-color: red;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 40px;
    border-right: 1px solid white;
    line-height: 40px;
    text-align: center;
    position:relative;
}

nav li :hover{
    background-color: black;
    transform: scale(1.1); 
    transition: all 0.3s ease-in;
    filter:blur(1.5);
}

nav ul img{
    margin-right : 50%;
}

nav li a{
    display: block;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px #9999ff;
}
nav ul ul{
    margin:20%;
    position: absolute;
    visibility: visible;
}

nav ul li:hover ul{
    visibility: visible;
}

/*----------- Fin Barre de navigation ------------*/

h2{
   text-align: center; 
   font-family: 'pacifico', cursive;
}

.p1{
    text-align: center;
}

.texte{
    width: 75%;
    background-color: white;
    color: blueviolet;
    margin-left: 10%;
    border: 1px solid  pink;
    
}
