 body{
     background-image: -webkit-linear-gradient(center , #A35CD9, red);
     color: aqua;
    
        
 }
    
h1{
    text-align: left;
    background-size: ;
}

{
    
        
}
p1{
    
}
p1{
    
}
p1{
    
}
p1{
    
}
