h1{
    width: 500px;
    color: red;
    text-align: center;
}
body{
    background-color: white;
}
Ri{
    
    width: 500px;
    background-color: antiquewhite;
}
iframe{
    
    width: 100%;
    height: 1000px;
   
}